/* Animations */

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.75);
        opacity: 0.25;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.1);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes in-out-horizontal {
    0% {
        transform: scaleX(1);
        opacity: 1;
    }

    30% {
        transform: scaleX(0);
        opacity: 1;
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes swing-in-out {
    0% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }

    25% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}


/* body */

body {
    background-color: rgba(157, 189, 229, 0.341) !important;
}

/* Navbar */

nav {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(108, 153, 181, 0.3042717086834734) 19%, rgba(255, 255, 255, 1) 49%, rgba(204, 222, 233, 0.2146358543417367) 76%, rgba(158, 192, 214, 1) 100%);
}

.offcanvas {
    width: 100% !important;
    height: fit-content;
    margin-top: 100px;
}

.airport,
.ticket,
.service,
.flight {
    animation: 1s ease-out 0s 1 fadeInAnimation;
}

img.airport,
img.ticket,
img.service,
img.flight {
    animation: 1s ease-out 0s 1 slideInRight;
}

/* indexpage */


.myText {
    font-size: small;
}

/* Carousel */

.carousel-item>img {
    height: 90vh;
}

/* Flight Scheule */

.myAccordian {
    top: 15%;
    left: 60%;
    min-width: 600px !important;
    width: 600px !important;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.812);
}

.myaccordion-button {
    background: rgb(30, 99, 142);
    background: linear-gradient(90deg, rgba(30, 99, 142, 1) 0%, rgba(93, 145, 177, 1) 49%, rgba(158, 192, 214, 1) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font: small sans-serif;
    height: 30px;
    width: 100%;
    padding: 20px 0;


}

.myTable {
    animation: 1s ease-out 0s 1 zoomIn;
    margin: 0 auto;
    font-size: x-small !important;
    width: 95%;

}


.myTable>thead>tr {
    /* background-color: rgb(30, 99, 142) !important; */
    background: rgb(30, 99, 142);
    background: linear-gradient(90deg, rgba(30, 99, 142, 1) 0%, rgba(93, 145, 177, 1) 49%, rgba(158, 192, 214, 1) 100%);
    color: white !important;
}

th,
td {
    text-align: center;
    padding: 10px 5px;
}

.myTable~a {
    display: flex;
    justify-content: center;
    font-size: x-small;
}

/* cards */

.cardDiv {
    width: 80%;
}

.cardDiv>div {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.466);
}

.horRule {
    background-color: #6bceff;
    content: "";
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 100%;
}

.cardOverlay {
    color: black;
    background-color: white;
    transition: all .25s ease-in;
}

.cardOverlay:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.432);
}

.cardOverlay:last-child {
    align-self: baseline !important;
}

/* flightSchedule page */

.tableSetter {
    height: 450px;
}

.tableTopImg {
    height: 600px;
}

.tableTopImg>img {
    margin-bottom: 100px !important;
}


.arrivals,
.departs {
    animation: swing-in-out 1.5s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

.btnscale {
    transition: all 2s ease-in-out;
    transform: scaleY(1.1);
}

/* Tickets page */

.ticketTable>tbody tr:hover {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: 400;
    box-shadow: 3px 3px 10px black;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05) perspective(500px) translateZ(10px);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}