<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="/static/auth.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	</head>

	<body>
		<div class="body1 position-relative">
			<!-- <img src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" alt=""
				class="position-absolute top-50 start-50 translate-middle z-3 d-none" id="loading"> -->
			<div id="signIn" class="d-flex justify-content-center">
				<div id="signPageDiv1" class="signPageDiv container rounded-start flex-column">
					<p
						class="fs-2 text-white fw-bolder fst-italic text-center bg-opacity-50 bg-black rounded-top p-3 w-100 mb-0">
						Karachi Airport</p>
					<p class="fs-6 text-white fw-medium bg-opacity-50 bg-black rounded-bottom p-3 w-100">Winning people
						over with its human-centered and family-friendly approach as well as its accessible,
						sustainable, and
						innovative technologies, Karachi Airport continues to excel, with its goal of becoming a global
						transfer hub
						offering travel excellence for its passengers.</p>
				</div>
				<div class="signInDiv container rounded-end">
					<form class="w-100" method="POST">
						<center>
							<div class="my-3">
								<!-- Your Brand -->
								<p class="h2 fst-italic fw-bold p-1 colourThemeText my-0">Sign In</p>
								<p class="fst-italic text-uppercase">to your account</p>
							</div>
							<div class="input-group mb-2">
								<span class="input-group-text" id="addon1"><i class="fa-solid fa-user"></i></span>
								<input type="text" name="username" class="form-control" placeholder="Username"
									aria-describedby="addon1" id="signInEmail" required>
							</div>
							<div class="input-group mb-1">
								<span class="input-group-text" id="addon2"><i class="fa-solid fa-key"></i></span>
								<input type="password" name="password" class="form-control border-end-0"
									placeholder="Password" aria-describedby="addon2" id="signInPass" required>
								<button type="button" class="input-group-text bg-body hide"><i
										class="fa-solid fa-eye"></i></button>
							</div>
							<a class="d-block text-end text-decoration-none fw-medium colourThemeText"
								id="forgotPass">Forgot
								password?</a>

							{%csrf_token %}
							{% if messages %}
							{{ message.tags }}
							<div class="form-text fs-6 text-danger bg-body fw-semibold rounded m-1 w-100" role="alert">
								{% for message in messages %}
								{{ message }}
								{% endfor %}
							</div>
							{% endif %}

							<button type="submit" class="btn btn-primary w-100 fw-medium mt-2 colourThemeBtn"
								id="signInBtn">CONTINUE</button>
							<div class="text-center w-100 my-3">
								<span class="horRule"> or </span>
							</div>
							<div class="btn-group-vertical w-100" role="group">
								<button type="button" class="btn btn-danger my-1" id="signInGmail"><i
										class="fa-solid fa-envelope me-2"></i>Login
									with Gmail</button>
								<button type="button" class="btn btn-primary my-1" id="signInFb"><i
										class="fa-brands fa-facebook me-2"></i>Login
									with Facebook</button>
							</div>
							<p>Don't have an account? <a href="register"
									class="d-inline-block text-decoration-none fw-medium colourThemeText">Sign
									up</a></p>
							<a href="{% url 'homepage' %}"
										class="d-inline-block text-decoration-none fw-medium colourThemeText">Back to HomePage</a>
						</center>
					</form>
				</div>
			</div>
			<div id="signUp" class="d-none justify-content-center moveIn">
				<div id="signPageDiv2" class="signPageDiv container rounded-start flex-column">
					<p
						class="fs-1 text-white fw-bolder fst-italic text-center bg-opacity-50 bg-black rounded-top p-3 w-100 mb-0">
						Sign up now!</p>
					<p class="fs-6 text-white fw-medium bg-opacity-50 bg-black rounded-bottom p-3 w-100">Join Karachi
						Airport
						today and unlock a world of exclusive travel benefits! Sign up and Say hello to convenience and
						comfort
						delivered straight to your
						screen. Don't miss out - join now and experience travel heaven at Karachi Airport!</p>
				</div>
				<div class="signUpDiv container rounded-end">
					<form class="w-100" method="POST">
						{% csrf_token %}
						<center>
							<div class="my-3">
								<!-- Your Brand -->
								{% if messages %}
								{{ message.tags }}
								<div class="alert alert-primary" role="alert">
									{% for message in messages %}
									{{ message }}
									{% endfor %}
								</div>
								{% endif %}
								<p class="h2 fst-italic fw-bold p-1 colourThemeText my-0">Sign up</p>
								<p class="fst-italic text-uppercase">and join our community</p>
							</div>
							<div class="input-group mt-0 mb-2">
								<span class="input-group-text rounded-start" id="lName"><i
										class="fa-solid fa-person"></i></i></span>
								<input type="text" name="first_name" class="form-control" placeholder="First Name"
									aria-describedby="lName" id="signUpLName" required>
								<span class="input-group-text rounded-start" id="lName"><i
										class="fa-solid fa-person"></i></i></span>
								<input type="text" name="last_name" class="form-control" placeholder="Last Name"
									aria-describedby="lName" id="signUpLName" required>
							</div>
							<div class="input-group mb-2">
								<span class="input-group-text"><i class="fa-solid fa-user"></i></span>
								<input type="text" name="username" class="form-control" placeholder="Username" required>
							</div>
							<div class="input-group mb-2">
								<span class="input-group-text" id="email-text"><i class="fa-solid fa-user"></i></span>
								<input type="email" name="email" class="form-control" placeholder="Email"
									aria-describedby="email-text" id="signUpEmail" required>
							</div>
							<div class="input-group mb-2">
								<span class="input-group-text" id="pass-text1"><i class="fa-solid fa-key"></i></span>
								<input type="password" name="password" class="form-control border-end-0"
									placeholder="Password" aria-describedby="pass-text1" id="exampleInputPassword1"
									required>
								<button type="button" class="input-group-text bg-body hide"><i
										class="fa-solid fa-eye"></i></button>
							</div>
							<button type="submit" class="btn btn-primary w-100 fw-medium mt-2 colourThemeBtn"
								id="signUpBtn">CONTINUE</button>
							<div class="text-center w-100 my-2">
								<span class="horRule"> or </span>
							</div>
							<div class="btn-group-vertical w-100" role="group">
								<button type="button" class="btn btn-danger m-1"><i class="fa-solid fa-envelope me-2"
										id="signUpGmail"></i>Sign up
									with Gmail</button>
								<button type="button" class="btn btn-primary m-1"><i class="fa-brands fa-facebook me-2"
										id="signUpFb"></i>Sign up
									with Facebook</button>
							</div>
							<p>Already have an account? <a href="login"
									class="d-inline-block text-decoration-none fw-medium colourThemeText">Sign
									in</a></p>
						</center>
					</form>
				</div>
			</div>
		</div>
		<script src="https://kit.fontawesome.com/0091f48b02.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
			crossorigin="anonymous"></script>

		<script src="/static/auth.js" type="module"></script>
	</body>

</html>